###> app/bundle ###
/scripts/ansible/vars/
/src/.preload.php
!/bin/console
.php_cs.cache
###< app/bundle ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/test_database.db
/var/csv/imports/*
!/var/csv/imports/.gitkeep
/var/cache/*
/var/log/*
!/var/log/.gitkeep
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> liip/imagine-bundle ###
/public/media/cache/*
!/public/media/cache/.gitkeep
###< liip/imagine-bundle ###

###> vich/uploader-bundle ###
/public/uploads/artists/*
/public/uploads/images/*
/public/uploads/newsletters/*
/public/uploads/slides/*
/public/uploads/documents/*
!/public/uploads/.gitkeep
###< vich/uploader-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
