<div class="row my-5">
    <div class="col text-center">
        <h1>{{ page.name }}</h1>
        <h2 class="h3 text-muted">{{ page.summary }}</h2>
        <hr>
    </div>
</div>
<div class="row my-5">
    <div class="col text-center">
        {{ page.description | raw }}
    </div>
</div>
