{% extends "frontend/base.html.twig" %}

{% block title %}{{ 'front.layout.footer_3.left.privacy_policy' | trans }} · {{ parent() }}{% endblock %}

{% block main %}
    <div class="container">
        <main>
            <div class="row my-5">
                <div class="col-12">
                    <h1>{{ 'front.privacy_policy.title_1' | trans }}</h1>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-12">
                    <h3>{{ 'front.privacy_policy.title_2' | trans }}</h3>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
