<div class="row justify-content-between lp-c-ultra-light-grey">
    <div class="col-9">
        <p class="text-uppercase">
            {{ month_string }} {{ year }}
        </p>
    </div>
    <div class="col-3 text-end">
        <i data-action="click->calendar#previous" class="fas fa-chevron-left mr-2"></i> <i data-action="click->calendar#next" class="fas fa-chevron-right"></i>
    </div>
</div>
