<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="www.flux.cat">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </head>
    <body>
        <div class="container">
            <header class="d-flex justify-content-center py-3">
                {% block header %}
                    {{ knp_menu_render('frontend_main') }}
                {% endblock %}
            </header>
        </div>
        <div class="container">
            <main>
                {% block main %}
                    <div class="row">
                        <div class="col">
                            <h1>Hello World!</h1>
                        </div>
                    </div>
                {% endblock %}
            </main>
        </div>
    </body>
</html>
