{% extends "frontend/base.html.twig" %}

{% block title %}Homepage{% endblock %}

{% block main %}
    <div class="row">
        <div class="col">
            <h1>Hello World!</h1>
            <pre>homepage</pre>
        </div>
    </div>
{% endblock %}
