{% extends "frontend/base.html.twig" %}

{% block title %}Menu {{ menu }}{% endblock %}

{% block main %}
    <div class="row">
        <div class="col">
            <h1>Hello World!</h1>
            <pre>{{ menu }}</pre>
        </div>
    </div>
{% endblock %}
