- name: fix symfony web directory apache ownership
  file:
    path: "{{ ansistrano_release_path.stdout }}/public"
    recurse: yes
    follow: yes
    owner: "{{ remote_system_user }}"
    group: "{{ remote_system_group }}"
- name: fix symfony var uploads directory ownership
  file:
    path: "{{ ansistrano_deploy_to }}/shared/var/uploads"
    recurse: yes
    owner: "{{ remote_system_user }}"
    group: "{{ remote_system_group }}"
- name: reload PHP FPM service
  service:
    state: reloaded
    name: "php{{ vhost_php_version }}-fpm"
- name: reload apache service
  service:
    state: reloaded
    name: "apache2"
